{% extends 'core/base.html' %}
{% block content %}

<div style="padding-top: 40px" class="ms_profile_wrapper">

<div class="container"><br>
	<h1 style="font-size: 20px"><b>Terms And Condition</b></h1>
	<h1 style="font-size: 20px">{{ license.license }}</h1>
</div>
<div class="container">
    <form method="POST" style="font-size: 15px" class="card-body">{% csrf_token %}
    	{{ form }}

      <hr class="mb-4">
	<button class="ms_btn" type="submit">Proceed</button> 
    </form>
</div>


{% endblock %}